body{
    display: grid;
    grid-template-areas: 
    "jeden  dwa"
    "trzy  cztery";
    grid-template-rows:20vh 80vh ;
    grid-template-columns:80% 20% ;
    margin: 0px;
    overflow: hidden;
}
#div1{
    grid-area: "jeden";
    background-color: maroon;
    color: deepskyblue;
    border: 2px solid black;
}
#div2{
    grid-area: "dwa";
    background-color: darkgreen;
    border: 2px solid black;
    color: aqua;
}
#div3{
    grid-area: "trzy";
    display: flex;
    background-color: darkslateblue;
    border-top: 2px solid black;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
#div4{
    grid-area: "cztery";
    background-image: linear-gradient(darkgreen, darkslateblue);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.flaga{
    height: 300px;
    width: 300px;
}
.gra{
    background-color: rgb(34, 34, 34);
    color: cornsilk;
}
.kwadrat{
    border: 2px solid aquamarine;
    width: 300px;
<<<<<<< HEAD
}

=======
}
>>>>>>> ea7011f1cc0324121502b88aeb068940d4787b63
