body{
    display: grid;
    grid-template-areas: 
    "jeden  dwa"
    "trzy  cztery";
    grid-template-rows:20vh 80vh ;
    grid-template-columns:80% 20% ;
    margin: 0px;

}
#div1{
    grid-area: "jeden";
    background-color: darkslategray;
    color: deepskyblue;
}
#div2{
    grid-area: "dwa";
    background-color: cadetblue;
}
#div3{
    grid-area: "trzy";
    background-color: midnightblue;
}
#div4{
    grid-area: "cztery";
    background-color: rgb(18, 133, 88);
}
.flaga{
    height: 300px;
    width: 300px;
}
.gra{
    background-color: rgb(34, 34, 34);
    color: cornsilk;
}